@font-face {
    font-family: "Lodeh";
    src: url(./fonts/LodehRegular.ttf);
}

@font-face {
    font-family: "RockAway";
    src: url(./fonts/RockAway.ttf);
}




body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 40%;
    height: 100%;
}

.content-container {
    width: 60%;
}

img {
    height: 100%;
}