@font-face {
    font-family: "Lodeh";
    src: url(./fonts/LodehRegular.ttf);
}

@font-face {
    font-family: "RockAway";
    src: url(./fonts/RockAway.ttf);
}

@font-face {
    font-family: "RalewayBoldItalic";
    src: url(./fonts/Raleway-BoldItalic.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "RalewayLight";
    src: url(./fonts/Raleway-Light.ttf);
}

* {
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 12px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 40%;
    height: 100dvh;
    text-align: center;
    color: white;
    flex: 1;
    margin: 0;
    padding: 0;
}

.content-container {
    width: 60%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.838);
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
}

.logo {
    position: absolute;
    top: 6rem;
    left: 2rem;
    font-family: "Lodeh";
    font-size: clamp(20px, 3vw, 65px);
}

.alt {
    font-family: sans-serif;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 8px;
    margin: 0;
}

.desc-container {
    width: 95%;
    font-family: "Raleway";
    padding: 2rem 0px 5px 2rem ;
    margin: 0;
}

.desc-container div {
    margin: 1rem 0 1rem 0;
    width: 90%;
}

.text-q {
    font-size: clamp(25px, 2vw, 50px);
    font-family: "RalewayBoldItalic";
    color: rgb(27, 105, 27);
}

.text-body {
    font-family: "Raleway";
    font-size: clamp(12px, 1vw, 35px)
}

li {
    margin: 10px;
    list-style-type: none;
    font-family: "RalewayLight";
    color: forestgreen;
}

.form-container {
    padding: 1rem 0 1rem 2rem;
    width: 60%;
} 

.form-title {
    font-size: clamp(20px, 1.5vw, 35px);
    margin-bottom: 1rem;
    font-family: "Raleway";
    
}

.input-group {
    display: flex;
    gap: 1rem;
}

form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-family: "Raleway";
    color: rgb(27, 109, 27);
    font-size: clamp(16px, 1vw, 35px)
}

form div {
    height: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 6px;
    height: 20px;
}

button {
    height: 40px;
    border: none;
    border-radius: 8px;
    font-family: "Raleway";
    width: 25%;
    background-color: rgba(12, 75, 12, 0.71);
    color: black;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
}

.promo-container {
    font-size: clamp(25px, 1vw, 35px);
    font-family: "Raleway";
    padding-left: 2rem;
}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: 2px solid forestgreen;
}

input:invalid {
    outline: 2px solid rgb(221, 94, 94);
}